@(Html.Kendo().MobileView()
    .Title("Home Page")
    .Name("Index")
    .Content(@<text>
        <h3>Getting Started</h3>
        @Html.ActionLink("Do Something Good", "Index", "Tables")
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </p>
        
        <h3>Add NuGet packages and jump-start your coding</h3>
        <p>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </p>

        <h3>Find Web Hosting</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
        </p>
    </text>)
)
